.bg-footer{
	background: black;
    background: -webkit-linear-gradient(bottom, #960000, #460000, #000000);
	color: white;
	padding: 10px;
}

.bg-footer .col-md-8 > p{
	display: block;
    margin:0;
    font-size: 12px;
    line-height: 16px;
    color: #FFF;
}

.icon-footer{
	margin: 5px;
}

.vertical-center {
	margin: 0;
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

footer{
	position: fixed;
	bottom: 0;
	width: 100%;
}